h3,h2{
    color:grey;
}


.boton{
    background-color:white;
    color:black;
    size:12px;
    text-align:center;
    font-weight:bold;
}

.img{
    width:500px;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.title{
    text-align: center;
    background-color: grey;
    color:blue;
}

.main.img{
    display:block;
    margin-left:auto;
    margin-right:auto;
   
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:RGB(173,216,230);
}

#dos{
    text-align: center;
}
#tres{
    text-align: end;
}